body {
  font-family:'OpenSans', sans-serif;
  transition: background-color .5s;


  hgroup {
    font-family: 'RobotoSlab', sans-serif;
  }

}

.wrapper {
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
  height: inherit;
}


.page-sub-header {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 95px;
    height: 2px;
    left: 50%;
    top: -15px;
    transform: translateX(-50%);
    background: #00b000;
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 95px;
    height: 2px;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    background: #00b000;
  }
}



.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.navigation-section {
  padding: 20px 0 50px 0;
  background: url("../../img/background-nav.jpg") no-repeat;
  background-size: 100% 100%;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

table, tr, td {
  border: 1px solid black;

}

table {
  td {
    padding: 10px;
    text-align: center;
  }
}

.bold {
  font-weight: 700;
}

.align-justify {
  text-align: justify;
}