body {
  font-family:'OpenSans', sans-serif;
  transition: background-color .5s;


  hgroup {
    font-family: 'RobotoSlab', sans-serif;
  }

}

.wrapper {
  max-width: 1170px;
  padding: 0 10px;
  margin: 0 auto;
  height: inherit;
}

