.breadcrumb-navigation {
  margin-top: 20px;

  li {
    display: inline-block;

    &+li:before {
      padding: 8px;
      color: #ffffff;
      content: "/\00a0";
    }

    a {
      color: #ffffff;
      font-size: 16px;
      text-decoration: none;
    }

    span {
      color: #00b000;
      font-size: 16px;
    }
  }
}
