/* line 1, ../../../scss/layout/sections/services-list.scss */
.services-section {
  padding: 70px;
}
/* line 4, ../../../scss/layout/sections/services-list.scss */
.services-section h2 {
  text-align: center;
  font: 700 28px 'RobotoSlab', sans-serif;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
}

/* line 13, ../../../scss/layout/sections/services-list.scss */
.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 18, ../../../scss/layout/sections/services-list.scss */
.services-list li {
  text-align: center;
  max-width: 275px;
  width: 100%;
  border-radius: 10px;
  padding: 25px 0;
}
/* line 25, ../../../scss/layout/sections/services-list.scss */
.services-list li a {
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
}
/* line 32, ../../../scss/layout/sections/services-list.scss */
.services-list li span {
  margin: 0 auto 10px auto;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/* line 40, ../../../scss/layout/sections/services-list.scss */
.services-list li .sun-electrostation {
  background: url("../../img/solar-panel.png") no-repeat 50%;
}
/* line 44, ../../../scss/layout/sections/services-list.scss */
.services-list li .gelio-system {
  background: url("../../img/pump.png") no-repeat 50%;
}
/* line 48, ../../../scss/layout/sections/services-list.scss */
.services-list li .hot-system {
  background: url("../../img/solar-systems.png") no-repeat 50%;
}
/* line 52, ../../../scss/layout/sections/services-list.scss */
.services-list li .counter {
  background: url("../../img/counter.png") no-repeat 50%;
}
/* line 56, ../../../scss/layout/sections/services-list.scss */
.services-list li .lighting {
  background: url("../../img/lighting.png") no-repeat 50%;
}
/* line 60, ../../../scss/layout/sections/services-list.scss */
.services-list li .irrigation {
  background: url("../../img/irrigation.png") no-repeat 50%;
}
/* line 64, ../../../scss/layout/sections/services-list.scss */
.services-list li .green-traffic {
  background: url("../../img/green-traffic.png") no-repeat 50%;
}
/* line 68, ../../../scss/layout/sections/services-list.scss */
.services-list li .proecting {
  background: url("../../img/proection.png") no-repeat 50%;
}
/* line 72, ../../../scss/layout/sections/services-list.scss */
.services-list li .lawyer {
  background: url("../../img/lawyer.png") no-repeat 50%;
}
/* line 76, ../../../scss/layout/sections/services-list.scss */
.services-list li .consulting {
  background: url("../../img/consulting.png") no-repeat 50%;
}
/* line 80, ../../../scss/layout/sections/services-list.scss */
.services-list li .garrantly {
  background: url("../../img/handshake.png") no-repeat 50%;
}
/* line 84, ../../../scss/layout/sections/services-list.scss */
.services-list li .installation {
  background: url("../../img/installation.png") no-repeat 50%;
}
/* line 88, ../../../scss/layout/sections/services-list.scss */
.services-list li:hover {
  background-color: #ebffec;
}
/* line 91, ../../../scss/layout/sections/services-list.scss */
.services-list li:hover span {
  background-color: #ffffff;
}

@media all and (max-width: 1000px) {
  /* line 100, ../../../scss/layout/sections/services-list.scss */
  .services-list {
    justify-content: space-around;
  }
}
@media all and (max-width: 760px) {
  /* line 107, ../../../scss/layout/sections/services-list.scss */
  .services-section h2 {
    font-size: 22px;
  }

  /* line 111, ../../../scss/layout/sections/services-list.scss */
  .services-list {
    justify-content: center;
  }
}
