.gallery-content {
  padding: 50px 0;
  .wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    .photo-lightgallery {
      width: 50%;
      display: flex;
      flex-wrap: wrap;

      a {
        display: block;
        width: 50%;
        max-height: 250px;
        position: relative;

        &:hover::before {
          width: 100%;
          height: 100%;
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, .5);
        }

        &:hover::after {
          content: '';
          position: absolute;
          display: block;
          width: 32px;
          height: 32px;
          background: url("../../img/zoom.png") no-repeat;
          top: 50%;
          left: 50%;
          transform: translate(-50%, - 50%);
        }

        img {
          display: block;
          margin: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    .object-describe {
      width: calc(50% - 40px);
      padding: 10px 20px;

      h2 {
        text-align: center;
        font: 700 20px 'RobotoSlab', sans-serif;
        color: #000000;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 30px;
      }

      p {
        text-align: justify;
        text-indent: 10px;
        font: 16px/24px 'RobotoSlab', sans-serif;
      }

      ul {

        margin-top: 10px;

        li {
          background: url("../../img/sun-icon.png") no-repeat 0 50%;
          padding-left: 30px;
          text-align: justify;
          font-size: 16px;
          line-height: 24px;
          margin: 0 0 15px 15px;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .gallery-content {
    .wrapper {
      justify-content: center;
      .photo-lightgallery {
        width: 100%;
        margin-bottom: 25px;
      }

      .object-describe {
        width: calc(90% - 40px);

        h2 {
          font-size: 18px;
        }
      }
    }
  }
}

@media all and (max-width: 420px){
  .gallery-content {
    .wrapper {
      .photo-lightgallery {
        a {
          width: 100%;
        }
      }
    }
  }
}