.welcome-section {
  transition: margin-left .5s;
  height: 70vh;
  position: relative;

  .welcome-message {
    display: block;
    margin: 150px auto;
    text-align: center;
    width: inherit;

    h2 {
      font: 700 32px/32px 'RobotoSlab', sans-serif;
      color: #ffffff;
      margin-bottom: 10px;

    }

    p {
      font-size: 24px;
      color: #ffffff;
      margin-bottom: 60px;
      padding-bottom: 10px;
      position: relative;
    }
  }

  .background-player {
    position: absolute;
    height: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../../img/welcome-bc.png") no-repeat;
    background-size: cover;
    display: block;
    z-index: -1;

    .background-video-position {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-image: none;

      .welcome-video {
        margin: auto;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: visible;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
      }
    }
  }

}

.responsive-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  overflow-x: hidden;
  transition: 0.5s;

  .menu {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 80px;

    li {
      height: 25%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.active {
        background: rgba(0, 0, 0, .5);
        a {
          color: #00b000;

          span {
            border: 1px solid #00b000;
            color: #00b000;
          }
        }
      }

      &:hover {
        background: rgb(0, 0, 0);
      }
    }
    a {

      span {
        display: block;
        position: relative;
        margin: 0 auto;
        background: transparent;
        margin-bottom: 15px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 1px solid white;

        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;

    span {
      margin-right: 10px;
    }
  }
}

.closebtn {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;

  .fa-times {
    font-size: 24px;
  }
}

.responsive-menu a:hover {
  color: #00b000;
}

.important-for-user {
  color: #00b000;
}

